@using Blazor.Data;
@using shared.Model;
@inject ApiService postService


   <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"></span>
        <input type="text" class="form-control" @bind-value="@comment.Author" placeholder="Author" aria-label="Author" aria-describedby="addon-wrapping">
        </div>
    <div class="form-floating">
        <input class="form-control" @bind-value="@comment.Content" placeholder="Content" id="floatingTextarea2" style="height: 100px"></input>
        <label for="floatingTextarea2">Content</label>
    </div>
    
    <a @onclick="() => CreateNewComment(comment)" class="btn btn-primary">Post comment</a>
  


@code {

    private InputComment comment = new InputComment();
    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int PostId { get; set; }
    private void CreateNewComment(InputComment comment)
    {
        if (comment.Content == null)
        {
            return;
        }
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId
        comment.PostId = PostId;
        postService.CreateComment(comment); 
    }
}  