@using Blazor.Data;
@using shared.Model;
@inject ApiService postService

<div>
    <br/>
    <h3>Write a comment</h3>
    <input placeholder="Author" type="input" @bind-value="comment.Author"/>
    <input placeholder="Content" type="input" @bind-value="comment.Content"/>
    <button @onclick="() => CreateNewComment(comment)">Post</button>
</div>

@code {

    private InputComment comment = new InputComment();
    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int PostId { get; set; }
    private void CreateNewComment(InputComment comment)
    {
        if (comment.Content == null)
        {
            return;
        }
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId
        comment.PostId = PostId;
        postService.CreateComment(comment); 
    }
}  