@page "/CreatePost"

@using Blazor.Data;
@inject ApiService postService

@using shared.Model;

<PageTitle>Create a new post</PageTitle>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"></span>
    <input type="text" class="form-control" @bind-value="@post.Author" placeholder="Author" aria-label="Author" aria-describedby="addon-wrapping">
</div>
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg"><Title></Title></span>
    <input type="text" @bind-value="@post.Title" placeholder= "Title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="form-floating">
    <input class="form-control" @bind-value="@post.PostId" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></input>
    <label for="floatingTextarea2">Content</label>
</div>

<a href="#" @onclick="PostPost" class="btn btn-primary">Post</a>
@code {

    private Post[] posts;

    private Post post  = new Post ();

    private void PostPost()
    {
        postService.CreatePost(post);

    }
}