@page "/"

@using Blazor.Data;
@inject ApiService postService

@using shared.Model;


@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <a href="/CreatePost" class="btn btn-primary">Create Post</a>
    @foreach (var post in posts)
    {

        <div class="card">
            <div class="card-header">
                <p class="card-text">-- @post.Author </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Content</p>

                <a href=@string.Format("{0}",post.PostId) class="btn btn-primary">See Post</a>
            </div>
        </div>
    }
}
@code {

    private Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await postService.GetPostData();
    }
}
