@page "/home"

@using Blazor.Data;
@inject ApiService postService

@using shared.Model;


@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>The Todo List</PageTitle>

<h1>The Todo List</h1>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ol>
        @foreach (var post in posts)
        {
            <li>
                <table>
                    <tr>
                        <td>@post.Content</td>
                        <td>@post.Upvotes</td>
                        <td>@post.Downvotes</td>
                        <td>@post.Date</td>
                    </tr>
                </table>
            </li>
        }
    </ol>
}

@code {
    private Post[]? posts;

    

    protected override async Task OnInitializedAsync()
    {
        posts = await postService.GetPostData();
    }
}